(
.notdef,
A,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Aring,
Atilde,
AE,
B,
C,
Ccedilla,
D,
Eth,
E,
Eacute,
Ecircumflex,
Edieresis,
Egrave,
F,
G,
H,
I,
Iacute,
Icircumflex,
Idieresis,
Igrave,
J,
K,
L,
Lslash,
M,
N,
Ntilde,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Oslash,
Otilde,
OE,
P,
Thorn,
Q,
R,
S,
Scaron,
T,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
V,
W,
X,
Y,
Yacute,
Ydieresis,
Z,
Zcaron,
a,
aacute,
acircumflex,
adieresis,
agrave,
aring,
atilde,
ae,
b,
c,
ccedilla,
d,
eth,
e,
eacute,
ecircumflex,
edieresis,
egrave,
f,
g,
h,
i,
dotlessi,
iacute,
icircumflex,
idieresis,
igrave,
j,
k,
l,
lslash,
m,
n,
ntilde,
o,
oacute,
ocircumflex,
odieresis,
ograve,
oslash,
otilde,
oe,
p,
thorn,
q,
r,
s,
scaron,
germandbls,
t,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
v,
w,
x,
y,
yacute,
ydieresis,
z,
zcaron,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
asterisk,
backslash,
periodcentered,
bullet,
colon,
comma,
ellipsis,
exclam,
exclamdown,
numbersign,
period,
question,
questiondown,
quotedbl,
quotesingle,
semicolon,
slash,
underscore,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft,
parenright,
emdash,
endash,
hyphen,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotesinglbase,
space,
cent,
dollar,
Euro,
florin,
sterling,
yen,
approxequal,
asciitilde,
divide,
equal,
greater,
greaterequal,
less,
lessequal,
logicalnot,
minus,
multiply,
notequal,
percent,
perthousand,
plus,
plusminus,
bar,
at,
ampersand,
paragraph,
copyright,
registered,
section,
trademark,
degree,
asciicircum,
dagger,
acute,
breve,
caron,
cedilla,
circumflex,
dieresis,
dotaccent,
grave,
hungarumlaut,
macron,
ogonek,
ring,
tilde,
Abreve,
Amacron,
Aogonek,
Cacute,
Ccaron,
Ccircumflex,
Cdotaccent,
Dcaron,
Dcroat,
Ecaron,
Edotaccent,
Emacron,
Eogonek,
Schwa,
Gbreve,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Hbar,
Hcircumflex,
IJ,
Idotaccent,
Imacron,
Iogonek,
Jacute,
Jcircumflex,
Kcommaaccent,
Lacute,
Lcaron,
Lcommaaccent,
Nacute,
Ncaron,
Ncommaaccent,
Ohungarumlaut,
Omacron,
Racute,
Rcaron,
Rcommaaccent,
Sacute,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
Tcaron,
Tcedilla,
Tcommaaccent,
Ubreve,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
Ycircumflex,
Ygrave,
Zacute,
Zdotaccent,
I.salt,
M.salt,
N.salt,
B.001,
C.001,
J.001,
K.001,
M.001,
M.002,
P.001,
R.001,
S.001,
W.001,
M.salt.001,
abreve,
amacron,
aogonek,
cacute,
ccaron,
ccircumflex,
cdotaccent,
dcaron,
dcroat,
ecaron,
edotaccent,
emacron,
eogonek,
schwa,
gbreve,
gcircumflex,
gcommaaccent,
gdotaccent,
hbar,
hcircumflex,
idotaccent,
imacron,
iogonek,
ij,
jdotless,
jacute,
jcircumflex,
kcommaaccent,
lacute,
lcaron,
lcommaaccent,
nacute,
ncaron,
ncommaaccent,
ohungarumlaut,
omacron,
racute,
rcaron,
rcommaaccent,
sacute,
scedilla,
scircumflex,
scommaaccent,
tcaron,
tcedilla,
tcommaaccent,
ubreve,
uhungarumlaut,
umacron,
uogonek,
uring,
wacute,
wcircumflex,
wdieresis,
wgrave,
ycircumflex,
ygrave,
zacute,
zdotaccent,
a.salt,
g.salt,
g.ss01,
a.ss02,
a.001,
b.001,
b.002,
c.001,
c.002,
germandbls.calt,
d.001,
d.002,
d.003,
e.001,
e.002,
f.001,
f.002,
h.001,
h.002,
m.001,
m.002,
m.003,
m.004,
n.001,
n.002,
o.001,
p.001,
p.002,
q.001,
q.002,
r.001,
r.002,
r.003,
r.004,
u.001,
u.002,
f_f,
f_f_i,
f_f_j,
f_f_l,
f_i,
f_j,
f_l,
a.sc,
aacute.sc,
abreve.sc,
acircumflex.sc,
adieresis.sc,
agrave.sc,
amacron.sc,
aogonek.sc,
aring.sc,
atilde.sc,
ae.sc,
b.sc,
c.sc,
cacute.sc,
ccaron.sc,
ccedilla.sc,
ccircumflex.sc,
cdotaccent.sc,
d.sc,
dcaron.sc,
dcroat.sc,
eth.sc,
e.sc,
eacute.sc,
ecaron.sc,
ecircumflex.sc,
edieresis.sc,
edotaccent.sc,
egrave.sc,
emacron.sc,
eogonek.sc,
schwa.sc,
f.sc,
g.sc,
gbreve.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
h.sc,
hbar.sc,
hcircumflex.sc,
i.sc,
idotless.sc,
iacute.sc,
icircumflex.sc,
idieresis.sc,
idotaccent.sc,
igrave.sc,
imacron.sc,
iogonek.sc,
ij.sc,
j.sc,
jdotless.sc,
jacute.sc,
jcircumflex.sc,
k.sc,
kcommaaccent.sc,
l.sc,
lacute.sc,
lcaron.sc,
lcommaaccent.sc,
lslash.sc,
m.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncommaaccent.sc,
ntilde.sc,
o.sc,
oacute.sc,
ocircumflex.sc,
odieresis.sc,
ograve.sc,
ohungarumlaut.sc,
omacron.sc,
oslash.sc,
otilde.sc,
oe.sc,
p.sc,
thorn.sc,
q.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
s.sc,
sacute.sc,
scaron.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
germandbls.sc,
t.sc,
tcaron.sc,
tcedilla.sc,
tcommaaccent.sc,
u.sc,
uacute.sc,
ubreve.sc,
ucircumflex.sc,
udieresis.sc,
ugrave.sc,
uhungarumlaut.sc,
umacron.sc,
uogonek.sc,
uring.sc,
v.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wgrave.sc,
x.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ygrave.sc,
z.sc,
zacute.sc,
zcaron.sc,
zdotaccent.sc,
a.sc.001,
b.sc.001,
d.sc.001,
k.sc.001,
p.sc.001,
r.sc.001,
s.sc.001,
z.sc.001,
f_f.sc,
f_f_i.sc,
f_f_l.sc,
f_i.sc,
f_l.sc,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.lf.salt,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
"mediumspace-math",
lefttorightmark,
righttoleftmark,
"space-han",
softhyphen,
baht,
brokenbar,
daggerdbl,
section.001,
section.002,
currency,
hryvnia,
ruble,
rupeeIndian,
sheqel,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
commaaccentcomb,
cedillacomb,
ogonekcomb
)