{
displayStrings = (
"ANIVA
/h.sc/o.sc/s.sc/z.sc sz/d.sc/a.sc/germandbls.sc/p.sc/a.sc/r.sc s/z.sc zc/n.sc z/i.sc/v.sc/b.sc/o.sc  
ansivo 
/a.sc/b.sc/p.sc/r.sc/c.sc/d.sc/e.sc/f.sc/g.sc/h.sc/i.sc/j.sc/k.sc/l.sc/m.sc/n.sc/o.sc/p.sc/q.sc/r.sc/s.sc/germandbls.sc/t.sc/u.sc/v.sc/w.sc/x.sc/y.sc v/z.sc  1234567",
"Vollmilchschokoladenhohlkörper
Doppelschneckenextruder
Textkohärenztypologie
Mieterhöhungsmöglichkeiten
",
"Rite d’ouverture
Entrée
Mot d’accueil
Signation
Liturgie de la parole
Lecture
Psaume
Évangile
EÉvangile de Jésus Christ selon saint Jean (13, 34–35)
Allocution par le célébrant
Prière universelle
Imposition des mains
Bénédiction de l’eau du baptême
Baptême
Profession de foi
Onction avec le Saint Chrême
Remise du vêtement blanc
Remise du cierge allumé
Mots de la marraine et du parrain
Conclusion de la célébration
Notre Père
Bénédiction  finale
Chant à la Vierge Marie
Signature des registres
Envoi
Sortie
Remerciements",
"/h.sc",
"/a.sc",
"HBHO/b.sc nob",
"/c.sc",
"HON/d.sc nm",
"E/e.sc",
"/f.sc",
"/e.sc",
"c/c.sc/g.sc",
"/i.sc",
"/j.sc",
"K/k.sc o ",
"L/l.sc",
"M/m.sc n",
"/n.sc no",
"/v.sc",
"/a.sc/a.sc.001",
"/a.sc/v.sc/a.sc.001",
"ANIVA/a.sc/m.sc/n.sc/v.sc v/a.sc.001  ",
"/o.sc",
"/p.sc",
"/q.sc",
"/h.sc/n.sc/o.sc",
"PR/r.sc H",
"/r.sc",
"/germandbls.sc n",
"/s.sc",
"/t.sc",
"/u.sc",
"/w.sc",
"/x.sc",
"/y.sc vn",
"/y.sc",
"/z.sc",
"/oslash.sc",
"/idotless.sc",
"/jdotless.sc",
"/schwa.sc",
"/eth.sc",
"/lcaron.sc",
"/tcaron.sc",
"/l.sc/lslash.sc",
"̋",
"/a.sc/aogonek.sc",
"/e.sc/eogonek.sc",
"/i.sc/iogonek.sc",
"/u.sc/uogonek.sc",
"/hbar.sc",
"/thorn.sc",
"/ae.sc",
"/dcroat.sc",
"",
"o/oe.sc",
"̃",
"̧̨́̋̊̃̄",
"Å̊å/aring.sc",
"à̊åé",
"Åàåé",
"Ñåãñóôõ",
"̆/gbreve.sc",
"̆/gbreve.sc",
"̆/gbreve.sc",
"̧c/c.sc/c.sc/ccedilla.sc/scedilla.sc/tcedilla.sc",
"̨ĄĘĮŲąęįuų/aogonek.sc/eogonek.sc/iogonek.sc/uogonek.sc",
"̨",
"˛",
"&",
"
nivzid nifrid ",
"
nivzid nifrid 
Föider Xwider 
nisid niooid nonnnon
r-E-
r-E-
TEHYSDIV TEHKADIV 
R.S.
R.S.
R.S.
r,r.
TEHFMDIV TEHKADIV 
TEHXTDIV niftid 
nizaid nivyid 
\"B'S
Foider TEHSTDIV 
Fdider TEHSTDIV 
r,r.
TEHFMDIV 
Thider 
Thider TEH/M.salt TDIV 
TEHAHDIV 
TEHGADIV 
P’P“
g:
Foider 
nikaid 
-S
niid 
niqid 
niqid H!
nizzid niveid 
nisid niooid 
nizaid niveid nivyid 
nivzid TEHSTDIV TEHSVDIV niveid 
niveid Waider Swider Voider 
TEHFUDIV TEHEODIV 
TEHEMDIV TEHKADIV 
f.S,
f.S,
Waider niveid 
TEHEHDIV nicid 
TEHPIDIV TEHPODIV 
TEHEHDIV nicid niooid 
nifrid TEHSTDIV 
nicyid TEHKADIV 
g:
-S
TEHEHDIV 
TEHGADIV 
-A
y-
TEHIIDIV 
nirtid 
nigjid 
nijjid 
Swider niveid 
TEHEODIV niveid Swider 
TEHXHDIV 
Lvider niraid 
TEHEIDIV 
-J
j,
nictid 
\"A
nigvid 
TEHCODIV 
\"T
H:
TEHKYDIV 
R-
Hider 
nitid 
TEHCTDIV 
TEHGHDIV 
TEHEIDIV TEHPODIV 
Yaider Ydider 
\"B'S
Asider 
nikaid 
nikaid TEHCODIV TEHYSDIV 
Eider 
nivyid TEHAADIV 
nizwid 
TEHRADIV 
niawid 
i\"\"C
nillid 
Laider 
Laider nirtid 
Laider nirtid ",
"/f_f.sc",
"/f_f_i.sc",
"/f_f_l.sc",
"/f_l.sc",
"/f_i.sc",
BPR,
"/b.sc/p.sc/racute.sc",
"BPR/b.sc/p.sc/r.sc",
"BPR/P.001",
"/b.sc/p.sc/r.sc/p.sc.001",
"™™ĲĲĲĲĳĳĳĳﬃﬃﬃﬃ/f_f_j/f_f_j/f_f_j/f_f_j/f_f_j/f_f_j/f_f_j/f_f_j/f_f_j/f_f_j/f_j/f_j/f_j/f_j/f_j/f_j/ij.sc/ij.sc/ij.sc/ij.sc/ij.sc/ij.sc/ij.sc/ij.sc/ij.sc/ij.sc",
"@",
"¶T",
"%",
"4",
"/four.lf",
"/four.osf",
"/four.tf"
);
}
